.center-stuff {
  display: flex;
  justify-content: center;
}

#nav-links {
  margin-top: 3%;
}

.newses {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 17%;
}

.text-red {
  color: rgb(167, 0, 0);
}

.text-blue {
  color: rgb(0, 0, 158);
}

.main-schema {
  background-image: url("Images/GameBackground.jpg");
}

.images {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#textbox {
  width: 70%;
  margin-left: 15%;
  font-size: small;
}

.button-group-stuff {
  width: 100%;
}

.ss-list {
  display: inline-block;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.detail-div {
  background-color: rgba(147, 149, 156, 0.9);
  text-align: center;
  margin-left: 16%;
  border-radius: 4%;
}

.journal-lists {
  display: inline-block;
  height: 83%;

  border-radius: 20px;
  background-color: rgba(147, 149, 156, 0.9);
  overflow-y: auto
}

.search {
  display: inline-block;
  height: 83%;
  position: absolute;
  border-radius: 20px;
  background-color: rgba(147, 149, 156, 0.9);
  overflow-y: auto
}

.journal-layout {
  display: flex;
  justify-content: space-around;
}