.center-stuff {
  display: flex;
  justify-content: center;
}

#nav-links {
  margin-top: 3%;
}

.newses {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.main-schema {
  background-image: url("Images/GameBackground.jpg");
} 

.images {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-group-stuff {
  width: 100%;
}

.journal-lists {
  display: inline-block;
    height: 83%;
    
  border-radius: 20px;
    background-color: rgba(147, 149, 156, 0.9);
    overflow-y: auto
}

.search {
   display: inline-block;
    height: 83%;
    position: absolute;
  border-radius: 20px;
    background-color: rgba(147, 149, 156, 0.9);
    overflow-y: auto
}

.journal-layout {
  display: flex;
  justify-content: space-around;
}

/* .legacy-list {
  border-radius: 20px;
    background: #0dba38;
    box-shadow: inset 30px 30px 60px #086c20,
      inset -30px -30px 60px #12ff50;
display: inline-block;
  height: 83%;
  position: absolute;
} */

/* .goals-list {
  display: inline-block;
    height: 83%;
    position: absolute;
    border-radius: 20px;
      background: #070ff2;
      box-shadow: inset -30px 30px 60px #04098c,
        inset 30px -30px 60px #0a15ff;
} */